.header {
    padding: 77px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.header2 {
    font-size: 15px;
    position: absolute;
    top: 215px;
    left: 10px;
    color: white;
    text-align: left;

}

.subbutton {
    position: absolute;
    top: 263px;
    left: 10px;
    text-align: left;

}