@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



.register_here {
    font-size: 15px;
    position: absolute;
    top: 215px;
    left: 10px;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 4px #073B4C;
}

.button_email {
    position: absolute;
    top: 265px;
    left: 10px;
    text-align: left;
}

.button_username {
    position: absolute;
    top: 287px;
    left: 10px;
    text-align: left;
}

.button_password {
    position: absolute;
    top: 309px;
    left: 10px;
    text-align: left;
}

.button_repeatpassword {
    position: absolute;
    top: 331px;
    left: 10px;
    text-align: left;
}

.button_submit {
    position: absolute;
    top: 355px;
    left: 10px;
    text-align: left;
}

.page{
    width: 95%;
    height: 90vh;
    background-image: url(img/background3.png);
    background-size: cover;
    background-position: center;
}

.toggle_show_password {
    position: absolute;
    top: 314px;
    left: 180px;
}

.toggle_show_repeatpassword {
    position: absolute;
    top: 337px;
    left: 180px;
}

.header_pw {
    font-size: 10px;
    position: absolute;
    top: 345px;
    left: 130px;
    color: white;
    text-align: left;
}



.tab_register {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    position: absolute;
    left: 60px;
}

.tab_home {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 8px;
    position: absolute;
}

.tab_mailbox{
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 236px;
    position: absolute;

}

.tab_signin {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 125px;
    position: absolute;
}

.tab_logout {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 302px;
    position: absolute;
}

.tab_profile {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 60px;
    position: absolute;
}

.tab_dashboard {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 116px;
    position: absolute;
}

.tab_dm {
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #073B4C;
    padding: 5px;
    border-radius: 5px;
    top: 8px;
    left: 198px;
    position: absolute;
}

.Move_profile_text{
    position: relative;
    top: 40px;
    color: lightskyblue;
    font-size: 60px;
    border-radius: 10px;
    background-color: #073B4C;
}

.notification {
    text-align: center;
    font-size: 72px;
}

table {
    width: 25%;
    background: antiquewhite;
}

th {
    background: darkcyan;
}

tr:nth-child(odd){
    background: cornflowerblue;
}

tr:nth-child(even){
    background: dodgerblue;
}

.center-content{
    text-align: center;
}

.circle{
    margin: 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.online{
    background: limegreen;
}

.offline{
    background: darkgrey;
}

table{
    width: 75%;
}

.sup{
    position: relative;
    bottom: 1ex;
    font-size: 80%;
    color: black;
}

.no-new-msg{
    color: rgba(5, 100, 250, 1);
}

.new-msg{
    color: rgba(5, 100, 250, 1);
}

.Move_TextMailbox{
    color: lightskyblue;
    font-size: 40px;
    border-radius: 10px;
    background-color: #073B4C;

}

.mailbox_icon{
    position: absolute;
    left: 400px;
    top: 25px;
  

}

.label {
    display:block;
}


.label_file {
    display:block;
}

.label_read {
    display: block;
}

.Dash_text1{
    color: lightskyblue;
    font-size: 40px;
    border-radius: 10px;
    background-color: #073B4C;
}
