<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>
<body class="page">

    <a class="tab_home" href="{{ url_for('bp_home.home_get') }}">
        Home
    </a>

    {% if current_user.is_authenticated %}
        <a class="tab_profile" href="{{ url_for('bp_user.user_get') }}">
            Profile
        </a>

           <a class="tab_mailbox" href="{{ url_for('bp_user.mailbox_get') }}">
            Mailbox
        </a>


        <a class="tab_logout" href="{{ url_for('bp_user.logout_get') }}">
            Log Out
        </a>

        <a class="tab_dashboard" href="{{ url_for('bp_dashboard.dashboard_get') }}">
            Dashboard
        </a>

        <a class="tab_dm" href="{{ url_for('bp_dm.dm_get') }}">
            DM
        </a>

        <div class="mailbox_icon">
        <a href="{{ url_for("bp_user.mailbox_get") }}">
            <i class="fa fa-fw fa-envelope-open no-new-msg" id="message-symbol"></i>
                <span class="sup" id="message-count"></span>
        </a>
        </div>

    {% else %}
        <a class="tab_register" href="{{ url_for('bp_signup.signup_get') }}">
            Sign Up
        </a>

        <a class="tab_signin" href="{{ url_for('bp_signin.signin_get') }}">
            Sign In
        </a>
        {% endif %}



    {% block content %}
    {% endblock %}

    <script>
        checkMessages();
        setInterval(checkMessages, 5000);

        function checkMessages() {
            fetch("http://127.0.0.1:5000/get_message_count")
                .then(response => response.json())
                .then(msgCount => {
                    let messageSymbol = document.getElementById("message-symbol")
                    let messageCount = document.getElementById("message-count")
                    if(msgCount.unreadMessageCount === 0){
                        messageSymbol.classList.remove("fa-envelope");
                        messageSymbol.classList.add("fa-envelope-open");
                        messageCount.innerHTML ="";
                    }
                    else {
                        messageSymbol.classList.remove("fa-envelope-open");
                        messageSymbol.classList.add("fa-envelope");
                        messageCount.innerHTML = msgCount.unreadMessageCount;
                    }
                });
    }

    </script>

    {% block scripts %}
    {% endblock %}

</body>
</html>