{% extends 'base-template.html' %}

{% block content %}
    <br>
    <br>
    <br>
        <table>
        <tr>
            <th>User Name</th>
            <th>User Email</th>
            <th>Online</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for("bp_user.message_get", user_id=user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td class="center-content">
                    {% if user.online %}
                        <div class="circle online"></div>
                    {% else %}
                        <div class="circle offline"></div>
                    {% endif %}


                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
