{% extends 'base-template.html' %}

{% block title %}

{% endblock %}

{% block content %}


    <section class="Move_TextMailbox">
        <h1>This is your Mailbox page! All new messages gets here!  </h1>
    </section>


    <table>
        <tr>
            <th>Sender</th>
            <th>Sent</th>
            <th>Message Body</th>
            <th>Message Other</th>
        </tr>
    {% for message in messages %}
        <tr>
            <td>{{ message.sender.name }}</td>
            {%  if message.sent_time is not none %}
                <td>{{ message.sent_time.year }}-{{ message.sent_time.month }}-{{ message.sent_time.day }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            <td>{{ message.body }}</td>
            <td>{{ message.encrypted_data }}</td>

        </tr>
    {% endfor %}
    </table>
    <br/>
    <h3 class="decrypted-message">Decrypted message:</h3>
    <input id="decrypted">
    <br/><br/><br/>
    <input id="cipher" placeholder="Paste from 'Message Body'"><br />
    <input id="key"><br />
    <button onclick="decrypt()">Decrypt Message</button><br /><br />

    <h2 class="upload-private-key">Decrypt</h2>
    <input type="text" id="encrypted" placeholder="Paste from 'Message Other'">
    <br />
    <input type="file" id="priv-file" enctype="multipart/form-data" />
    <button onclick="readPrivateKey()">Read Private Key</button><span class="read_private" id="priv-loaded"></span>

    <br /> <br />
    <button onclick="rsaDecrypt()">Decrypt the RSA key</button>

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='js/rsa.js') }}"></script>

    <script>

        function decrypt(){
            key = document.getElementById("key").value;
            encrypted = document.getElementById("cipher").value;
            let clearText = CryptoJS.AES.decrypt(encrypted, key);
            document.getElementById("decrypted").value = clearText.toString(CryptoJS.enc.Utf8);
        }

        function rsaDecrypt() {
            let cipher = document.getElementById("encrypted").value;
            let rsaEncrypt = new JSEncrypt();
            rsaEncrypt.setPrivateKey(privateKey);
            let plainText = rsaEncrypt.decrypt(cipher);
            document.getElementById("key").value = plainText;
        }

        let privateKey;
        function readPrivateKey() {
            let files = document.getElementById("priv-file").files;
            let file = files[0];
            let reader = new FileReader();

            reader.onloadend = function (event) {
                privateKey = event.target.result;
                privateKey = privateKey.replace(/(\r\n|\n|\r)/gm, "");
                document.getElementById("priv-loaded").innerHTML = " Private key loaded!";
            };

            reader.readAsText(file);

        }

    </script>
    {% endblock %}
{% endblock %}