{% extends 'base-template.html' %}

{% block title %}
    Mailbox for {{ current_user.name }}
{% endblock %}

{% block content %}
    <br/><br/>
    <h1> id ="main-heading">Mailbox</h1>

    <table>
        <tr>
            <th>Sender</th>
            <th>Sent</th>
            <th>Title</th>
            <th>Message Body</th>
        </tr>
    {% for message in messages %}
        <tr>
            <td>{{ message.sender.name }}</td>
            {%  if message.sent_time is not none %}
                <td>{{ message.sent_time.year }}-{{ message.sent_time.month }}-{{ message.sent_time.day }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            <td>{{ message.title }}</td>
            <td>{{ message.body }}</td>

        </tr>
    {% endfor %}
    </table>
    <br/>
    <button onclick="decrypt_message()">Decrypt Message</button>
    <input id="clear" placeholder="Decrypted message">
    <input id="clear" placeholder="Enter AES key">

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>

        function decrypt_message() {
            let clearText = CryptoJS.AES.decrypt(encrypted_data, key);
            document.getElementById("clear").value = clearText.toString(CryptoJS.enc.Utf8);
        }
    </script>
    {% endblock %}
{% endblock %}