{% extends "base-template.html" %}

{% block title %}
    Send a Message
{% endblock %}

{% block content %}

    <br/><br/>
    <h1>Send an encrypted message to {{ receiver.name }}</h1>
        <br/>



        <form action="{{ url_for("bp_user.message_post") }}" method="POST">
            <input class="label_file_upload" type="file" name ="file_upload" id="public_file" enctype="multipart/form-data">
            <input type="hidden" name="user_id" id="user_id" value="{{ receiver.id }}">
            <textarea name ="body" placeholder="Message Body"></textarea> <br />
            <button class="send_dm" formmethod="post">Send</button>
        </form>

        <input id="plain" placeholder="Message to Encrypt" /> <br />
        <input id="key" placeholder="AES key (enter text or generate)" />
        <button onclick="generateKey()">Generate AES Key</button>

        <br />
        <button onclick="encrypt()">Encrypt Message</button>
        <input id="cipher" placeholder="Ciphertext" />

        <br />
        <button onclick="decrypt()">Decrypt Message</button>
        <input id="clear" placeholder="Decrypted message" />

        {# RSA part:#}
        <br /> <br /> <br />
        <input id="AES-key" placeholder="Enter AES Key"/>
        <br /> <br />

        <p>Upload public key</p>
        <input type="file" id="pub-file" enctype="multipart/form-data" />
        <button onclick="readPublicKey()">Read Public Key</button><span id="pub-loaded"></span>

        <br /> <br />
        <button onclick="rsaEncrypt()">Encrypt the Message</button>

        <br /> <br />
        <h3>Encrypted value</h3>
        <p id="encrypted"></p>


    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script src="{{ url_for('static', filename='js/rsa.js') }}"></script>
        <script>


            function generateKey() {
                key = CryptoJS.lib.WordArray.random(16).toString();
                document.getElementById("key").value = key;
            }

            function encrypt(){
                let message = document.getElementById("plain").value;
                encrypted = CryptoJS.AES.encrypt(message, key);
                document.getElementById("cipher").value = encrypted;
            }

            function decrypt(){

                let clearText = CryptoJS.AES.decrypt(encrypted, key);
                document.getElementById("clear").value = clearText.toString(CryptoJS.enc.Utf8);
            }

            let publicKey;
            let privateKey;

            function encryptMessage() {

                let aesKey = CryptoJS.lib.WordArray.random(16).toString();

                let rsaEncrypt = new JSEncrypt();
                let publicKey = document.getElementById("public_file").value;

                let message = {
                    body: document.getElementById('body').value
                }
                let msgJson = JSON.stringify(message);
                console.log(msgJson)
                let encryptedMessage = CryptoJS.AES.encrypt(msgJson, aesKey);
                rsaEncrypt.setPublicKey(publicKey);
                console.log(publicKey)

                let encryptedAESKey = rsaEncrypt.encrypt(aesKey);

                let msgToSend = {
                    receiverId: document.getElementById("user_id").value,
                    encryptedMessage: encryptedMessage.toString(),
                    encryptedKey: encryptedAESKey.toString()
                }

                let jsonStrToSend = JSON.stringify(msgToSend);
                console.log(jsonStrToSend)
            }
            function readPrivateKey() {
                let files = document.getElementById("priv-file").files;
                let file = files[0];
                let reader = new FileReader();

                reader.onloadend = function (event) {
                    privateKey = event.target.result;
                    privateKey = privateKey.replace(/(\r\n|\n|\r)/gm, "");
                    document.getElementById("priv-loaded").innerHTML = "private key loaded";
                };

                reader.readAsText(file);

            }
            function readPublicKey() {
                let files = document.getElementById("pub-file").files;
                let file = files[0];
                let reader = new FileReader();

                reader.onloadend = function (event) {
                    publicKey = event.target.result;
                    publicKey = publicKey.replace(/(\r\n|\n|\r)/gm, "");
                    document.getElementById("pub-loaded").innerHTML = "public key loaded";
                };

                reader.readAsText(file);

            }

            function rsaEncrypt() {
                let plainText = document.getElementById("AES-key").value;
                let rsaEncrypt = new JSEncrypt();
                rsaEncrypt.setPublicKey(publicKey);
                let encrypted = rsaEncrypt.encrypt(plainText);
                document.getElementById("encrypted").innerHTML = encrypted;
            }

            function rsaDecrypt() {
                let cipher = document.getElementById("encrypted").innerHTML;
                let rsaEncrypt = new JSEncrypt();
                rsaEncrypt.setPrivateKey(privateKey);
                let plainText = rsaEncrypt.decrypt(cipher);
                document.getElementById("decrypted").innerHTML = plainText;
            }

        </script>
    {% endblock %}

{% endblock %}