{% extends "base-template.html" %}

{% block title %}
   iChat
{% endblock %}

{% block content %}
    <div class="header_iChat_signup">
        <h1>iChat</h1>
    </div>

    <a class="tab_home" href="{{ url_for('bp_home.home_get') }}">
        Home
    </a>
    <div class="register_here">
        <h2>
           Register here
        </h2>
    </div>
    <div class="header_pw">
        <p>
            Show password
        </p>
    </div>
    <form method="POST">
        <input class="button_email" type="text" name="email" placeholder="Email"/>
        <input class="button_password" type="password" id="passFunc" name="password" placeholder="Password" />
        <input class="button_submit" type="submit" value="Submit" >
        <input class="toggle_show_password" type="checkbox" onclick="toggle_Password()">
    </form>
    <script>
        function toggle_Password() {
        var x = document.getElementById("passFunc");
        if (x.type === "password") {
            x.type = "text";
        }else {
            x.type = "password";
        }
        }
    </script>
{% endblock %}

{#{% block scripts %}#}
{#    <script>src="{{ url_for('static', filename='js/source.js') }}</script>#}
{#{% endblock %}#}