{% extends "base-template.html" %}

{% block title %}
   iChat
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}
    <div class="register_here">
        <h2>
           Register here
        </h2>
    </div>

    <form action="{{ url_for('bp_signup.signup_post') }}" method="POST">
        <input class="button_email" type="text" name="email" placeholder="Email"/>
        <input class="button_username" type="text" name="username" placeholder="Username"/>
        <input class="button_password" type="password" id="passFunc" name="password" placeholder="Password" />
        <input class="button_repeatpassword" type="password" id="passFunc" name="repeatpassword" placeholder="Repeat password" />
        <input class="button_submit" type="submit" value="Submit" >

    </form>
    <script>
        function toggle_Password() {
        var x = document.getElementById("passFunc");
        if (x.type === "password") {
            x.type = "text";
        }else {
            x.type = "password";
        }
        }
          function toggle_RepeatPassword() {
        var x = document.getElementById("passFunc");
        if (x.type === "repeatpassword") {
            x.type = "text";
        }else {
            x.type = "repeatpassword";
        }
        }
    </script>
{% endblock %}